<div class="copyright">
  <span itemprop="copyrightYear">&copy;2021 - {{ now.Year }}</span>
  <span class="with-love"><i class="fa fa-fire"></i></span>
  <span class="author" itemprop="copyrightHolder">
    {{ .Site.Author.name }}版权所有
  </span>
</div>
<div class="powered-by">
  <a target="_blank"
      href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010302003726"
      style="border-bottom: none;">
    <img src="/img/public-security-icon.png" style="display: inline;">
    浙公网安备 33010302003726号
  </a>
</div>
<div class="theme-info">
  <a href="https://beian.miit.gov.cn/" target="_blank"
      style="border-bottom: none;">
    浙ICP备2021017187号-1
  </a>
</div>
